body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
pre {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body{
    font-family: "微软雅黑";
}
.title p{
    font-size: 0.34rem;
    padding: 0.3rem;
    opacity: 0.6;
}
.title h3{
    font-size: 0.625rem;
    padding: 0.3rem;
}

.content{
    font-size: 0.47rem;
    color: #565656;
    padding: 1.16rem 0.3rem 0;
    margin: 0 auto;
    background: #fafafa;
}
.content p{
    padding: 0 0 1rem;
}


.comment{
    width: 100%;
    padding: 0 0.3rem;
    margin: 0 auto;
    font-size: 0.3rem;
    background: #ffffff;
    height:0.8rem;
    box-sizing: border-box;
    color:#999;
}
.comment .remen{
	display: block;
	width:1.3rem;
	height: 0.5rem;border-bottom: 2px solid #D43D3D ;
}
.comment .pingl{
	width: 100%;
}
.comment .pingl li{
	width: 100%;height:auto;
	border-bottom: 2px solid #FAFAFA;
	margin-top:10px;
	float: left;
}
.pingl li .log{
	float: left;
}
.pingl li .log img{
	width: 30px;height: 30px;
}
.pingl li .name{
	width: 2rem;
	margin-left:40px;
	line-height: 30px;
}
.pingl li .zhan{
	float: right;
	margin-top: -25px;
}
.pingl li .zhan img{
	width: 20px;height: 20px;
}
input[type=button]{
	width:90%;height: 40px;
	background:#D43D3D ;
	padding: 0 0.3rem;
	border: 0;border-radius: 5px;
	color: #fff;
	margin: 0 5% 20px 5%;
}
